.container { 
    margin: 0% 0% 0% 75vw;
    background-color: rgb(243, 243, 243)!important;
    height: 100%!important;
    filter: drop-shadow(0 0 0.25rem rgb(179, 163, 166));
    text-decoration: none;
    padding: 1em!important;
}

.loader { 
    margin: 100% 0% 100% 50%;
}
@media screen and (max-width: 768px){
    .container{ margin: 0% 10% 0% 10%;}
}

